<div id="footer " class="">
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark black justify-content-center">
            <div class="navbar-inner navbar-content-center text-center ">
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example" style="padding: 8px">
                    <span class="badge-font" style="padding-right: 30px; color: white">
                        Account
                        <span class="badge badge-light" id="eth_account">0x2c2b9c9a4a25e24b174f26114e8926a9f2128fe4</span>
                    </span>
                    <span class="badge-font" style="padding: 0 40px; color: white">
                        Amount
                        <span class="badge badge-light " id="eth_amount">100</span>
                    </span>
                </div>
                <button type="button" class="btn btn-next" disabled>Prev</button>
                <button type="button" class="btn btn-danger ">Stop</button>
                <button type="button" class="btn btn-next" onclick="nextPage()">Next</button>
            </div>
        </nav>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
    crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js " integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em "
    crossorigin="anonymous "></script>