<% include partials/header%>
    <div id="game_page">
        <% include twr%>
    </div>
    </div>


    <% include partials/footer%>
        <script src="js/web3.min.js "></script>
        <script src="js/truffle-contract.js "></script>
        <script src="js/card-animation.js "></script>
        <script src="js/smartcontract.js "></script>
        <script src="js/gk.js "></script>
        <script>
            let gk = `<% include gk%>`;
            let twr = `<% include twr%>`;
            function nextPage() {
                document.getElementById("game_page").innerHTML = gk;
            }
            function prevPage() {
                document.getElementById("game_page").innerHTML = twr;
            }
        </script>
        </body>

        </html>