<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Staterium</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark black">
    <a class="navbar-brand" href="http://www.startereum.com/">

        <img src="" width="50" height="50" alt="">

        <span style="vertical-align: middle;color: #B49353">Starterium</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="/game">Game</a>
            <a class="nav-item nav-link" href="/register">Sign Up</a>
        </div>
    </div>
</nav>

<div class="container nav justify-content-center" style="position: relative; top: 70px">
    <h3 style="color: white;margin: 60px 0">
        The challenge with making crypto versions of the dollar, rupee etc. fiat currencies is that_________
    </h3>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" aria-label="Checkbox for following text input" name="answers" value="A">
            </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox" value="Central banks are not authorized by law to create them."
            readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" aria-label="Checkbox for following text input" name="answers" value="B">
            </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox" value="Crypto exchanges may ban such fiat-linked tokens."
            readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" aria-label="Checkbox for following text input" name="answers" value="C">
            </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox" value="The new crypto-token will immediately float in value against the original fiat."
            readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" aria-label="Checkbox for following text input" name="answers" value="D">
            </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox" value="No nation or central bank yet owns its own blockchain."
            readonly>
    </div>
    <button type="submit" onclick="returnScore()" class="btn btn-primary" id="submit_answer">Submit</button>
</div>
<div id="footer " class="">
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark black justify-content-center">
            <div class="navbar-inner navbar-content-center text-center ">
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example" style="padding: 8px">
                    <span class="badge-font" style="padding-right: 30px; color: white">
                        Account
                        <span class="badge badge-light" id="eth_account">0x2c2b9c9a4a25e24b174f26114e8926a9f2128fe4</span>
                    </span>
                    <span class="badge-font" style="padding: 0 40px; color: white">
                        Amount
                        <span class="badge badge-light " id="eth_amount">100</span>
                    </span>
                </div>
                <button type="button" class="btn btn-next" onclick="prevPage()">Prev</button>
                <button type="button" class="btn btn-danger ">Stop</button>
                <button type="button" class="btn btn-next" onclick="nextPage()">Next</button>
            </div>
        </nav>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js " integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em "
        crossorigin="anonymous "></script>
    <script src="js/web3.min.js "></script>
    <script src="js/truffle-contract.js "></script>
    <script src="js/smartcontract.js "></script>
    <script src="js/gk.js "></script>
</body>

</html>