<% include partials/header%>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark black">
        <a class="navbar-brand" href="http://www.startereum.com/">
            <img src="" width="50" height="50" alt="">

            <span style="vertical-align: middle;color: #ffc107">Startereum</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/game">Game</a>
                <a class="nav-item nav-link active" href="/register">Sign Up</a>
            </div>
        </div>
    </nav>

    <div class=" container nav justify-content-center" style="position: relative;top: 50%;
    transform: translateY(30%);">

        <div class="col-sm-12 col-lg-5" style="margin: 70px 0; color: white">
             

            <h1>Sign Up With
                <br>Metmask

            </h1>
            <form>
                <div class="form-group">
                    <label for="publicKey">Public Key</label>
                    <input name="ethAddress" class="form-control" id="publicKey" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" id="signup_btn" class="btn btn-block btn-warning">Register</button>
            </form>
        </div>
        <div class="col-2" style="margin-top: 70px; color: white;">
            <h1 style="text-align: center;color:#ffc107;  position: relative;
            top: 30%;
            transform: translateY(50%);">Or
            </h1>
        </div>

        <div class="col-sm-12 col-lg-5" style="margin: 70px 0; color: white">
            <h1>Sign Up With Email</h1>
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input name="email" type="email" class="form-control" id="email2" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="password">

                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-warning">Register</button>
                </div>
            </form>
        </div>
    </div>
   <script src="js/bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js " integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em "
        crossorigin="anonymous "></script>
    <script src="js/web3.min.js "></script>
    <script src="js/register.js "></script>

    </body>

    </html>