<div class="row">
    <h1>Create Account</h1>
</div>
<div class="row about-content">
    <div class="col-six tab-full left">
        <h3>Metamask</h3>
        <form name="metamaskForm" id="rmform" method="post" action="/shipment">
            <fieldset>
                <div class="form-field" style="visibility: hidden">
                    <input type="text" id="contactName" value="" minlength="2" aria-required="true"
                        class="full-width">
                </div>
                <div class="form-field">
                    <input name="ethAddress" type="text" id="publicKey" placeholder="Public Key (Picked From Metamask)" value="" minlength="2" required="" aria-required="true"
                        class="full-width" readonly>
                </div>
                <div class="form-field">
                    <input name="email" type="email" id="email" placeholder="Email Address" value="" required="" aria-required="true"
                        class="full-width">
                </div>

                <div class="form-field">
                    <div class="submit-loader">
                        <div class="text-loader">Sending...</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn--primary full-width" id="signup_btn" data-target="#rmform">Metamask Signup</button>
        </form>
    </div>

    <div class="col-six tab-full right">
        <h3>Email</h3>
        <form name="emailForm" id="reform" action="/register" method="POST">
            <fieldset>
                <div class="form-field">
                    <input name="email" type="email" id="email2" placeholder="Email Address" value="" minlength="2" required="" aria-required="true"
                        class="full-width">
                </div>
                <div class="form-field">
                    <input name="password" type="password" id="password" placeholder="Password" value="" minlength="2" required="" aria-required="true"
                        class="full-width">
                </div>

                <div class="form-field">
                    <input type="password" placeholder="Confirm Password" value="" class="full-width">
                </div>

                <div class="form-field">
                    <div class="submit-loader">
                        <div class="text-loader">Sending...</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn--primary full-width" data-target="#reform">Email Signup</button>
        </form>

    </div>
</div> <!-- end about-content -->